:root {
	--outer-height: 100vh;
}
.p-mv {
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-color: #3cc;
	@include mq("sm") {
		margin-top: $header-height-sp;
		height: calc(100vh - #{$header-height-sp});
		height: calc(var(--outer-height) - #{$header-height-sp});
	}
}
.p-mv_inner {
}
.p-mv_catch {
	padding: 30vh 0;
	text-align: center;
}
.p-mv_catchMain {
	font-size: 50px;
	@include lineHeight_crop(1.75);
}
.p-mv_catchSub {
	font-size: 30px;
	@include lineHeight_crop(1.75);
}
