.Header {
	display: flex;
	height: $header-height-sp;
	width: 100%;
	z-index: z-index(header);
	@include mq("lg") {
		height: $header-height;
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-color: #fff;
		border-bottom: 1px solid #e3e3e3;
	}

	&.-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	&_inner {
		@include inner(1100);
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		@include mq("lg") {
			justify-content: space-between;
		}
	}

	&_bar {
		&_inner {
		}
	}

	&--logo {
		align-items: center;
		display: flex;
		height: 30px;
		width: 40vw;

		@include mq("lg") {
			width: 200px;
		}
	}

	&--hamburger {
		appearance: none;
		border: none;
		box-shadow: 0 0 2rem transparent;
		cursor: pointer;
		display: inline-block;
		height: $header-height-sp - 1px;

		/*outline対策*/
		outline: none;
		position: absolute;
		right: 0;
		top: 0;
		width: $header-height-sp - 1px;
		z-index: z-index(hamburger);
		&:hover,
		&:focus {
			box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
		}
		/*outline対策end*/

		@include mq("lg") {
			display: none;
		}

		.hamburger--line {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: #000;
			height: 1px;
			width: 18px;
			margin: auto;
			transition: all 0.3s ease-in-out;
			&:before,
			&:after {
				content: "";
				display: block;
				position: absolute;
				background-color: #000;
				transition: inherit;
				height: 100%;
				width: 100%;
			}
			&:before {
				top: -8px;
			}
			&:after {
				top: 8px;
			}
		}

		&[aria-expanded="true"] {
			.hamburger--line {
				background-color: transparent;
				&:before,
				&:after {
					background-color: #000;
					top: 0;
				}
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(-45deg);
				}
			}
		}

		.hamburger--visually_hidden {
			border: 0;
			clip: rect(0 0 0 0);
			clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			white-space: nowrap;
			width: 1px;
		}
	} //hamburger

	&_nav {
		position: fixed;
		top: 0;
		left: 0;
		text-align: center;
		background-color: transparent;
		height: auto;
		width: auto;
		position: static;
		transform: translateY(0);
		flex: 1;
		@include mq("md") {
			display: none;
			opacity: 0;
			z-index: -1;
			pointer-events: none;
		}

		&:before {
			content: "";
			display: block;
			background-color: rgba(#000, 0.7);
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			opacity: 0;
			transition: opacity 0.5s;
		}

		&_inner {
			height: 100%;
		}

		&_list {
			background-color: #fff;
			text-align: center;
			top: 0; //ヘッダーspの高さ
			width: 80vw;
			height: 100%;
			@include mq("md") {
				// transform: translateY(-100%); //上から
				transform: translateX(-100%); //左から
				transition: transform 0.6s;
			}
			@include mq("lg") {
				background-color: transparent;
				display: flex;
				justify-content: flex-end;
				width: auto;
			}
			&--item {
				text-align: center;
				color: #000;
				.item-link {
					display: block;
					padding: 20px 25px;
					@extend %txt-hover;
					@include mq("xl") {
						padding: 20px 25px;
					}

					&.-active {
						color: red;
					}
				}

				&-contact {
					background-color: color(sub);
					color: #fff;
				}
			}
		}
	} //Header_nav

	&SP_nav {
		$this: &;
		height: 100vh;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		text-align: center;
		color: #000;
		background-color: rgba(#000, 0.7);
		overflow: auto;
		opacity: 0;
		z-index: -1;
		pointer-events: none;

		@include mq("lg") {
			display: none;
		}
		&:before {
			content: "";
			display: block;
			background-color: rgba(#000, 0.7);
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity 0.5s;
		}

		@at-root {
			.is-drawerActive {
				#{$this} {
					@include mq("md") {
						opacity: 1;
						z-index: z-index(navGlobal);
						pointer-events: visible;
						&_list {
							transform: translateY(0%);
						}
					}
				}
			}
		}

		&_inner {
			height: 100%;
		}

		&_list {
			background-color: #fff;
			text-align: center;
			top: 0; //ヘッダーspの高さ
			width: 80vw;
			// transform: translateY(-100%); //上から
			transform: translateX(-100%); //左から
			transition: transform 0.6s;
			&--item {
				text-align: center;
				.item-link {
					display: block;
					padding: 20px 25px;
					color: #000;
					@extend %txt-hover;
					&.-active {
						color: red;
					}
				}

				&-contact {
					background-color: color(sub);
					color: #fff;
				}
			}
		}
	} //HeaderSP_nav
} //Header
