//アコーディオン
.accordion {
	&-item {
		&.open {
			.toggle-icon {
				&:after {
					transform: translateY(0) rotate(-0deg);
				}
			}
		}
	}

	&-content {
		display: none;
	}

	&-btn {
		//divにクラスつける
		border: solid #333;
		border-width: 1px 0;
		cursor: pointer;
		line-height: 1;
		padding: 25px 30px;
		position: relative;

		.toggle-icon {
			display: inline-block;
			margin-left: 5px;
			padding: 15px;
			position: absolute;
			right: 3%;
			top: 50%;
			transform: translateY(-50%);

			&:before,
			&:after {
				border-top: 1px solid red;
				content: "";
				margin-left: -13px;
				margin-top: -1px;
				position: absolute;
				top: 50%;
				transition: all 0.2s;
				width: 16px;
				@include mq("lg") {
					width: 23px;
				}
			}
			&:after {
				transform: translateY(0) rotate(90deg);
			}

			@include mq("lg") {
				padding: 0;
			}
		}
	}
}
