//パンくずリスト
.breadcrumb {
	position: absolute;
	top: 30px;
	&-home {
		background: url("../img/icon-home@2x.png");
		background-size: cover;
		height: 13px;
		width: 12px;
	}
	&-item {
		color: color(txt-black);
		font-weight: bold;
		position: relative;
		& + .bread-item {
			margin-left: 44px;
			&:before {
				border: solid color(txt-black);
				border-width: 0 1px 1px 0;
				content: "";
				display: block;
				height: 4px;
				left: -22px;
				position: absolute;
				top: 50%;
				transform: rotate(-45deg) translateY(-50%);
				width: 4px;
			}
		}
	}
}
