* {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
html {
	overflow: auto;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	color: color(txt-black);
	font-family: $ff-gothic;
}
img {
	border-style: none;
	height: auto;
	width: 100%;
	vertical-align: bottom;
	[data-objectfit="cover"] {
		object-fit: cover;
	}
}
iframe,
video {
	width: 100%;
}
table {
	text-align: left;
}
//PCではtelリンク無効
@include mq("lg") {
	a[href*="tel:"] {
		pointer-events: none;
		cursor: default;
		text-decoration: none;
	}
}

//ヘルパークラス
// 表示・非表示
//~480px
.xs {
	&_show {
		display: none !important;
		@include mq("xs") {
			display: block !important;
		}
	}
	&_hide {
		display: block !important;
		@include mq("xs") {
			display: none !important;
		}
	}
}
//~768
.sm {
	&_show {
		display: none !important;
		@include mq("sm") {
			display: block !important;
		}
	}
	&_hide {
		display: block !important;
		@include mq("sm") {
			display: none !important;
		}
	}
}
//~1024
.md {
	&_show {
		display: none !important;
		@include mq("md") {
			display: block !important;
		}
	}
	&_hide {
		display: block !important;
		@include mq("md") {
			display: none !important;
		}
	}
}
//1025~
.lg {
	&_show {
		display: none !important;
		@include mq("lg") {
			display: block !important;
		}
	}
	&_hide {
		display: block !important;
		@include mq("lg") {
			display: none !important;
		}
	}
}
//1280~
.xl {
	&-show {
		display: none !important;
		@include mq("xl") {
			display: block !important;
		}
	}
	&-hide {
		display: block !important;
		@include mq("xl") {
			display: none !important;
		}
	}
}

//テキスト関係クラス
.fw-bold {
	font-weight: bold !important;
}
.ta-center {
	text-align: center !important;
}
.ta-right {
	text-align: right !important;
}
.ta-left {
	text-align: left !important;
}
